/* Custom CSS */
#banner {
    background-color: #d7e7f7;
    padding: 100px 0;
    margin-left: 5px;
}

#banner h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

#banner .lead {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 30px;
}
#banner .text-style{
    font-size: 22px;
    
}

.btn {
    background-color: #4340f8;
    border-color: #FF6B6B;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #FF4646;
    border-color: #FF4646;
    color: #fff;
}

.container {
    margin-top: 5px;
}


/* Mission and Vision Section */
#mission-vision {
    
    padding: 100px 0;
}

.mission-card,
.vision-card {
    background-color: #dbcfcf;
    text-align: center;
    border-radius: 0 30px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(12, 11, 11, 0.1);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
    height: 300px; 
    margin-bottom: 10px;
}

.mission-card h2,
.vision-card h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    color: #faa26f;
    transition: color 0.3s ease;
    text-align: center;
}

.mission-card p,
.vision-card p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    transition: color 0.3s ease;
}

/* .mission-card:hover,
.vision-card:hover {
    background-color: #968eff;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5), 0 0 20px rgba(0, 0, 255, 0.5); 
    } */


.animate {
    opacity: 1;
    transform: translateY(0);
}


.card-content {
    display: flex;
    text-align: justify;
}

.card-image {
    width: 150px; /* Adjust size as needed */
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

/* Mission and Vision Section */
.mission-vision-section {
   
    padding: 30px ; 
    text-align: center; 
    border-color: #131110;
}

.heading-container {
    max-width: 1200px; 
    margin: 10px;
}

.content {
    box-shadow: 0 0 20px rgba(247, 174, 174, 0.1); 
    padding: 10px; /* Add padding */
    border-radius:  0 30px; 
    border-color: #131110;
    background: linear-gradient(to bottom, #d3bbbb 20%, #c4d3df 50% ); /* Set gradient background */
    display: inline-block; 
}

/* Wings Section */
#wings {
    padding: 50px 0;
    background-color: #f8f9fa;
}

.wing-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 10px;
}

.wing-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.wing-card .card-body {
    text-align: center;
}

.wing-card i {
    display: block;
    margin: 0 auto 15px;
    color: #fff; /* Icon color */
    margin-top: 20px;
}

.wing-card h5 {
    text-align: center;
    color: #fff; /* Title color */
}

/* Career Development Card */
.career-development {
    background-color: #5c81e7; /* Purple */
}

/* ACM Card */
.acm {
    background-color: #dc6efd; /* Yellow */
}

/* Research and Journals Card */
.research-journals {
    background-color: #009cb8; /* Green */
}
.activity-img {
    max-width: 50px; /* Set maximum width */
    max-height: 50px; /* Set maximum height */
    margin-right: 5px; /* Add some margin between images */
}
#advisorCarousel .carousel-item img {
    width: 90%; /* Decrease the width to 90% of the parent container */
    height: auto; /* Maintain aspect ratio */
}
/* Style the scrollbar */
.modal-body {
    max-height: calc(100vh - 200px); /* Adjust height as needed */
    overflow-y: auto;
}

/* Style the scrollbar */
.modal-body::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}